<div class="dashboard-main-body">

  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Device List</h6>
    <ul class="d-flex align-items-center gap-2">
      <li class="fw-medium">
        <a href="<%- url %>" class="d-flex align-items-center gap-1 hover-text-primary">
          <iconify-icon icon="material-symbols:dashboard" class="icon text-lg"></iconify-icon>
          Dashboard
        </a>
      </li>
      <li>-</li>
      <li class="fw-medium">Device List</li>
    </ul>
  </div>

  <div class="card">
    <div class="card-header d-flex flex-wrap align-items-center justify-content-between gap-3">
      <div class="d-flex flex-wrap align-items-center gap-3">
        <div class="d-flex align-items-center gap-2">
          <span>Show</span>
          <select class="form-select form-select-sm w-auto" id="filter-length">
            <option>10</option>
            <option>15</option>
            <option>20</option>
          </select>
        </div>
        <div class="icon-field">
          <input type="text" id="filter-search" class="form-control form-control-sm w-auto" placeholder="Search">
          <span class="icon">
            <iconify-icon icon="ion:search-outline"></iconify-icon>
          </span>
        </div>
      </div>
      <div class="d-flex flex-wrap align-items-center gap-3">
        <select class="form-select form-select-sm w-auto" id="filter-status">
          <option value="">Status</option>
          <option value="0">Disconect</option>
          <option value="1">Connected</option>
        </select>
        <button type="button" class="btn btn-success text-sm btn-sm px-10 py-10  radius-8 d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#modal-add-device"> <i class="ri-add-line"></i> Create Device</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table bordered-table mb-0 w-100" id="tbl-device">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
      </table>
    </div>
  </div> 
</div>
<!-- Modal Start -->
<div class="modal fade" id="modal-add-device" tabindex="-1" aria-labelledby="modal-add-deviceLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog modal-dialog-centered">
    <div class="modal-content radius-16 bg-base">
      <div class="modal-header py-16 px-24 border border-top-0 border-start-0 border-end-0">
        <h1 class="modal-title fs-5" id="modal-add-deviceLabel">Add New Device</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-24"> 
          <div class="row">
            <div class="col-12 mb-20">
              <label class="form-label fw-semibold text-primary-light text-sm mb-8">Nama Whatsapp</label>
              <input id="txt-add-name" type="text" class="form-control radius-8" placeholder="Masukan nama device">
            </div>
            <div class="col-12 mb-20">
              <label class="form-label fw-semibold text-primary-light text-sm mb-8">Nomor Whatsapp</label>
              <input id="txt-add-number" type="text" class="form-control radius-8" placeholder="Masukan nomor dengan kode negara (contoh : 6281234567489)">
            </div>
            <div class="d-flex align-items-center justify-content-center gap-3 mt-24">
              <button type="reset" class="border border-secondary-600 bg-hover-secondary-200 text-secondary-600 text-md px-40 py-11 radius-8" data-bs-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-success border border-success-600 text-md px-48 py-12 radius-8" id="btn-submit-add">
                Save
              </button>
            </div>
          </div> 
      </div>
    </div>
  </div>
</div>
<!-- Modal scan -->
<div class="modal fade" id="modal-scan" tabindex="-1" aria-labelledby="modal-scan-label" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog modal-dialog-centered">
    <div class="modal-content radius-16 bg-base">
      <div class="modal-header py-16 px-24 border border-top-0 border-start-0 border-end-0">
        <h1 class="modal-title fs-5" id="modal-scan-label">Scan Device</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-24 text-center">
        <ul class="nav button-tab nav-pills mb-16" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link d-flex align-items-center gap-2 fw-semibold text-primary-light radius-4 px-16 py-10 active" id="pills-button-qr-tab" data-bs-toggle="pill" data-bs-target="#pills-button-qr" type="button" role="tab" aria-controls="pills-button-qr" aria-selected="true" data-value="qr">
              <iconify-icon icon="material-symbols:qr-code-scanner" class="text-xl"></iconify-icon>
              <span class="line-height-1">Scan QR</span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link d-flex align-items-center gap-2 fw-semibold text-primary-light radius-4 px-16 py-10" id="pills-button-code-tab" data-bs-toggle="pill" data-bs-target="#pills-button-code" type="button" role="tab" aria-controls="pills-button-code-tab" aria-selected="false" tabindex="-1" data-value="pairing-code">
              <iconify-icon icon="material-symbols:code" class="text-xl"></iconify-icon>
              <span class="line-height-1">Pairing Code</span>
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tab-threeContent" role="tablist">
          <div class="tab-pane fade show active position-relative" id="pills-button-qr" role="tabpanel" aria-labelledby="pills-button-qr" tabindex="0">
            <img src="images/download.png" alt="" srcset="" class="scan-img-qr" id="modal-scan-img"> 
            <div class="loading-container" id="loading-qr">
              <img src="images/loading.svg" alt="Loading...">
            </div>
            <p>
              <li>Scan kode QR berikut dengan aplikasi WhatsApp anda, sebagaimana Whatsapp Web biasanya.</li>
              <li>Sesi Whatsapp Web yang aktif akan keluar, diganti dengan server ini.</li>
            </p>
          </div>

          <div class="tab-pane fade position-relative" id="pills-button-code" role="tabpanel" aria-labelledby="pills-button-code" tabindex="0">
            
            <div class="d-flex justify-content-center align-items-center" style="height: 250px;">
              <div class="box-code">A</div>
              <div class="box-code">B</div>
              <div class="box-code">C</div>
              <div class="box-code">1</div>
              <div class="box-space">-</div>
              <div class="box-code">2</div>
              <div class="box-code">D</div>
              <div class="box-code">E</div>
              <div class="box-code">F</div>
            </div> 
            <div class="loading-container" id="loading-code">
              <img src="images/loading.svg" alt="Loading...">
            </div>
            <p>
              <li>Buka whatsapp ditelepon</li>
              <li>ketuk menu/pengaturan</li>
              <li>ketuk perangkat tertaut, lalu taurkan perangkat</li>
              <li>ketuk tautkan dengan nomor saja, lalu masukan kode diatas ditelepon anda</li>
            </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>