<!DOCTYPE html>
<html lang="id"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form - MGSONLINE</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/iofrm-theme42.css">
</head>
<body>
    <div class="form-body form-left">
        <div class="iofrm-layout">
            <div class="img-holder text-start">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="assets/images/image.png" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content justify-content-end">
                    <div class="form-items">
                        <div class="website-logo-inside logo-normal text-left"> <img src="assets/images/logo.png" alt="" style="
                            width: 151px;
                        ">
                        </div>
                        <h3 class="font-md">Registrasi</h3>  
                        <form action="<%= url %>register/save" method="POST" >
                            <input class="form-control" type="text" name="username" placeholder="Masukan Nama" required="">
                            <input class="form-control" type="email" name="email" placeholder="Masukan email" required="">
                            <input class="form-control" type="password" name="pass" placeholder="Masukan password" required="">
                            <div class="form-button d-flex">
                                <button id="submit" type="submit" class="btn btn-success">Create</button>
                                <a href="<%= url %>login" class="btn btn-outline-success">I have account?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/main.js"></script>

<style>
    body,html { 
        height:100%; 
    } 
</style>
</body></html>